input, select { margin-bottom: 10px; }
#add-family-title-container, #edit-family-title-container { margin-top: 15px; margin-bottom: 3px; }
#add-family-title, #edit-family-title { font-size: 105%; }
#family-id-col { width: 25%; }
@media screen and (max-width: 615px) {
	.action-container { float: none; display: block; width: 100%; margin: auto; margin-top: 5px; }
	.action-container button, .action-container a { width: 100%; border-radius: 2px; padding: 7px; }
}