

#section-0-content { position: relative; padding: 0px; }
#section-0-heading-container { position: absolute; top: 45%; left: 46%; font-family: 'Asap', sans-serif; color: #fff; background-color: rgba(0,0,0,0.7); padding: 10px; border-left: 5px solid #1daeeb; }
#section-1 { margin-top: 20px; margin-bottom: 20px; }
#section-1-content { padding: 10px 30px; }
#section-1-heading-container { text-align: center; margin-bottom: 50px; }
#section-1-heading-container p { font-size: 250%; font-weight: lighter; color: rgb(216,216,216); }
.flex-container { display: -webkit-box; display: -moz-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: flex-start; justify-content: flex-start; }
.card { width: 48%; height: 500px; position: relative; margin-right: 10px; }
.card-heading h4 { font-family: 'Asap', sans-serif; }
.card-img { width: 70px; height: 70px; margin-bottom: 10px; }
.card-action { padding: 10px; margin-top: 10px; position: absolute; bottom: 7%; right: 10%; -webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; -ms-transition: background-color 0.2s; -o-transition: background-color 0.2s; transition: background-color 0.2s; }
.card-action:hover { background-color: rgb(243,243,243); }
.card-action a { color: #1daeeb; }
@media screen and (min-width: 1200px) {
	.card { width: 32%; }
}
@media screen and (min-width: 1500px) and (max-width: 1699px) {
	.flex-container { padding: 50px 100px; }
}
@media screen and (min-width: 1700px) {
	.flex-container { padding: 100px 200px; }
}




