#section-0 { padding-top: 50px; margin-bottom: 50px; }
#section-0-content { width: 90%; padding: 30px 40px; }
#section-0-heading-container { border-bottom: 1px solid #c7c7c7; margin-bottom: 20px; }
#section-0-heading-container h1 { font-family: 'Asap', sans-serif; color: #333333; padding: 5px; }
.form-container { width: 100%; }
.form-container input, .form-container select { font-weight: bolder; }
.form-container input, button { outline: none; border: 0.5px solid #ccc; border-radius: 7px; padding: 5px 10px; font-size: 105%; width: 100%; }
.input-container + .input-container { margin-top: 20px; }
.nlyze-1 { width: 30px; height: auto; vertical-align: middle; margin: 0px 5px; }
#signin-button { background-color: #1daeeb; border: none; -webkit-box-shadow: 0px 0px 5px #7c7c7c; -moz-box-shadow: 0px 0px 5px #7c7c7c; -ms-box-shadow: 0px 0px 5px #7c7c7c; -o-box-shadow: 0px 0px 5px #7c7c7c; box-shadow: 0px 0px 5px #7c7c7c; font-family: 'Asap', sans-serif; font-size: 90%; color: #fff; padding: 10px; margin-top: 20px; cursor: pointer; }
#passwd-reset-container { float: right; }
#passwd-reset-button { color: #1daeeb; text-decoration: underline; font-size: 90%; border: none; border-radius: 0px; padding: 0px; margin-top: 10px; cursor: pointer; }
#form-about { margin-top: 50px; }
#createid-container a { color: #c7c7c7; text-decoration: underline; font-family: 'Asap', sans-serif; font-size: 90%; }
.loader { display: none; left: 49%; }
/*media rule*/
@media screen and (min-width: 550px) and (max-width: 799px) {
	.form-container, #form-about { display: block; width: 80%; margin: auto; }
	#form-about { margin-top: 50px; }
}
@media screen and (min-width: 800px) {
	.form-container, #form-about { display: block; width: 70%; margin: auto; }
	#form-about { margin-top: 50px; }
}