@import url('https://fonts.googleapis.com/css?family=Roboto:300');
.reference-period-select { min-width: 150px; }
.line-select { min-width: 60px; }
.family-select { min-width: 150px; background-color: #d8d5cf; }
.reference-period-select, .line-select { background: url(dropdownicon_white.png) 95% / 15px no-repeat #fff; border: none; }
.main-container { background-color: #eceff4 }
.card { min-height: 100px; }
.card-h-2 { min-height: 220px; }
.card-body { position: relative; font-family: 'Roboto', sans-serif; }
.input-border { border: none; border-bottom: 1px solid #f3f3f3; }